pycfdi/api/cache/suds-09a1be52f21d9a8379becbbe48bec3c4-document.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Sat.Cfdi.Negocio.ConsultaCfdi.Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sat.Cfdi.Negocio.ConsultaCfdi.Servicio">
   <xs:complexType name="Acuse">
      <xs:sequence>
         <xs:element minOccurs="0" name="CodigoEstatus" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="EsCancelable" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="EstatusCancelacion" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="ValidacionEFOS" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Acuse" nillable="true" type="tns:Acuse"/>
</xs:schema>